.bodyWrapper {
    background-image: url("https://wallpapercave.com/wp/gQIjb6R.jpg");
    background-repeat: no-repeat;
    opacity: 0.95;
}
.contentWrapper {
    background-color:black;
    height: 93vh;
    opacity: 0.85;
    overflow: scroll;
    /* mix-blend-mode: multiply; */
}
