.bodyWrapper {
    background-image: url("https://cdn.akamai.steamstatic.com/steam/apps/570/capsule_616x353.jpg?t=1662588548");
    background-repeat: no-repeat;
    opacity: 0.95;
}
.contentWrapper {
    background-color:black;
    height: 93vh;
    opacity: 0.85;
    overflow: scroll;
    /* mix-blend-mode: multiply; */
}
